#sticky_note {
    width: 200px;
    height: 200px;
    background-color: #fff740;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#note_title {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#note_content {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}