*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.calculator{
  width: 320px;
  background: #111827;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

#screen{
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 12px;
  font-size: 28px;
  text-align: right;
  background: #0b1220;
  color: white;
}

.buttons{
  margin-top: 14px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn{
  height: 55px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  background: #1f2937;
  color: white;
  transition: 0.2s;
}

.btn:hover{
  transform: scale(1.02);
}

.op{
  background: #374151;
}

.equal{
  background: #2563eb;
}

.wide{
  grid-column: span 2;
}